.about {
    font-family: Arial, sans-serif;
    color: #005e6b;
    text-align: center; /* Centrera all text i sektionen */
}

.about-header {
    text-align: center;
    padding: 100px 0;
}

.about-header h1 {
    font-size: 3rem;
    color: #005e6b;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 900px;
    padding-top: 20px;
    margin-left: 30px;
}


.story-content {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 50px; 
    max-width: 1200px; /* Gör hela sektionen bredare */
    width: 90%; /* Låter layouten anpassa sig bättre */
    text-align: left;
    margin-left: 100px;
    margin-bottom: 100px;
}

.story-image {
    height: auto;
    object-fit: cover;
}
.story-leaf {
    position: absolute;
    top: 350px;
    left: 0%;
    max-width: 200px;
}

  .story h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-left: -100px;
    padding-top: 30px;
}

.story-content p {
    font-size: 1.4rem;
    line-height: 1.6;
}

