.home-welcome h1 {
  font-size: 3rem;
  color: #3A5465;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  margin-top: 13rem;
  text-align: center;
}

.home {
  font-family: Arial, sans-serif;
  color: #333;
}

.home-our-services-container {
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  max-width: 1200px;  
  margin: 0 auto; 
}

.home-our-services-text {
  width: 30%;  
  padding-right: 20px;
  position: relative; 
}

.home-our-services-text::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/green-pattern2.png'); 
  background-position: center; 
  z-index: -1; 
}


.home-service-image {
  max-width: 50%;
  margin-left: auto;
  margin-top: -13rem; 
}

.home-service-image img {
  width: 100%; 
  height: auto;
  object-fit: cover;
  border-radius: 10px; 
}


.home-our-services h2 {
  font-size: 16px;
  color: #3A5465;
}

.home-our-services p {
  font-size: 16px;
  color: #555;
}

.home-our-services h3 {
  font-size: 40px;
  color: #507061;
}

.home-our-services p {
  color: #3A5465;
}

.home-our-services a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px; 
  background-color: #507061; 
  color: white; 
  text-decoration: none; 
  border-radius: 50px; 
  transition: background-color 0.3s ease; 
}

.home-our-services a:hover {
  background-color: #3e5a48; 
}


/* Styling for the image section */
.home-service-images {
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.home-service-images img {
  width: 30%; 
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.home-service-images .image-row:nth-child(1) img:nth-child(2) {
  margin-left: 10%; 
}

/* Styling for About Us Section */
.home-about-us {
  font-family: Arial, sans-serif;
  color: #333;
}

.home-about-us-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  margin: -90px auto 0; 
  position: relative;
}


.home-about-us-text {
  width: 30%;
  position: relative;
}

.home-about-us-text::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/green-pattern2.png'); 
  background-position: center; 
  z-index: -1; 
}

.home-about-us h2 {
  font-size: 16px;
  color: #3A5465;
}

.home-about-us h3 {
  font-size: 40px;
  color: #507061;
}

.home-about-us p {
  font-size: 16px;
  color: #3A5465;
}

.home-about-us a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background-color: #507061;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.home-about-us a:hover {
  background-color: #3e5a48;
}

/* Styling for the image section under About Us */
.home-about-images {
  display: flex;  
  justify-content: center;  
  align-items: center;  
  flex-direction: column; 
  margin: 100px 0;  
}

.home-about-images hr {
  width: 80%;  
  border: 0;  
  border-top: 1px solid #3A5465;  
  margin: 30px 0; 
}

.home-about-images img {
  max-width: 100%;  
  height: auto;  
  object-fit: cover;  
  border-radius: 10px;  
  margin-top: 50px; 
  margin-bottom: 50px; 
}


/* Styling for Our Rooms & Treatments Section */
.home-rooms-treatments {
  font-family: Arial, sans-serif;
  color: #333;
}

.home-rooms-treatments-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: -90px auto 0;
  position: relative;
}

.home-rooms-treatments-text {
  width: 30%;
  padding-left: 20px;
  position: relative;
  text-align: left;
}

.home-rooms-treatments-image {
  width: 50%;
}

.home-rooms-treatments-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 5rem;
  transition: transform 0.3s ease;
}

.home-rooms-treatments-image img:hover {
  transform: scale(1.05); 
}

.home-rooms-treatments-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/green-pattern2.png');
  background-position: center;
  z-index: -1;
}

.home-rooms-treatments h2 {
  font-size: 16px;
  color: #3A5465;
}

.home-rooms-treatments h3 {
  font-size: 40px;
  color: #507061;
}

.home-rooms-treatments p {
  font-size: 16px;
  color: #3A5465;
}

.home-rooms-treatments a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background-color: #507061;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.home-rooms-treatments a:hover {
  background-color: #3e5a48;
}

/* Styling for Images under "Rooms & Treatments" */
.home-room-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 50px auto;
}

.home-room-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.home-room-images img:hover {
  transform: scale(1.05); 
}

/* Styling for events */
.home-events {
  margin: 50px auto;
  max-width: 1200px;
  padding: 0 20px;
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
}

.home-events h2 {
  font-size: 17px;
  color: #3A5465;
}

.home-events p {
  font-size: 20px;
  color: #507061;
}
.events-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  margin: 0 auto; 
  gap: 30px; 
  max-width: 100%; 
}

.event-item {
  margin: 10px 0;
  text-align: left;
  border-radius: 8px;
  position: relative;
  width: 30%; 
  padding: 15px; 
}

.event-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 2px;
  background-color: #ccc;
}
.event-item h1 {
color: #507061;
}
.event-item h4 {
  font-size: 18px;
  color: #3A5465;
  margin-bottom: 5px;
}

.event-item p {
  font-size: 14px;
  color: #3A5465;
  margin-bottom: 5px;
}


.home-events .explore-link {
  display: inline-block;
  margin-top: 15px;
  color: #507061;
  text-decoration: none; 
  font-size: 16px;
  font-weight: bold;
}

.home-events .explore-link:hover {
  color: #3e5a48; 
}

.home-event-packages-link {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 30px;
  background-color: #507061;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  align-self: flex-end; 
}

.home-event-packages-link:hover {
  background-color: #3e5a48;
}
